In [1]:
import pandas as pd

In [15]:
city_coverage = pd.read_csv('data/city_coverage_geocodes.csv')
city_coverage

                    loc        lat         lng
0             Albany,NY  42.652579  -73.756232
1            Anaheim,CA  33.836593 -117.914301
2          Arlington,TX  32.735687  -97.108066
3             Aurora,CO  39.729432 -104.831919
4             Austin,TX  30.267153  -97.743061
5        Bakersfield,CA  35.373292 -119.018713
6          Baltimore,MD  39.290385  -76.612189
7         Burlington,VT  44.475883  -73.212072
8             Camden,NJ  39.925946  -75.119620
9          Charlotte,NC  35.227087  -80.843127
10           Chicago,IL  41.878114  -87.629798
11        Cincinatti,OH  39.103118  -84.512020
12          Columbus,OH  39.961176  -82.998794
13            Denver,CO  39.739236 -104.990251
14            Durham,NC  35.994033  -78.898619
15      Fayetteville,NC  35.052664  -78.878358
16        Fort Wayne,IN  41.079273  -85.139351
17           Gilbert,AZ  33.352826 -111.789027
18       Grand Forks,ND  47.925257  -97.032855
19        Greensboro,NC  36.072635  -79.791975
20          Hartford,CT  41.765804  -72.673372
21           Houston,TX  29.760427  -95.369803
22       Idaho Falls,ID  43.492661 -112.040758
23       Little Rock,AR  34.746481  -92.289595
24        Long Beach,CA  33.770050 -118.193740
25           Madison,WI  43.073052  -89.401230
26              Mesa,AZ  33.415184 -111.831472
27         Nashville,TN  36.162664  -86.781602
28       New Orleans,LA  29.951066  -90.071532
29     Oklahoma City,OK  35.467560  -97.516428
30         Owensboro,KY  37.771907  -87.111168
31      Philadelphia,PA  39.952584  -75.165222
32             Plano,TX  33.019843  -96.698886
33           Raleigh,NC  35.779590  -78.638179
34        Saint Paul,MN  44.953703  -93.089958
35  Saint Petersburg,FL  27.767601  -82.640291
36       San Antonio,TX  29.424122  -98.493628
37    San Bernardino,CA  34.108345 -117.289765
38         San Diego,CA  32.715738 -117.161084
39     San Francisco,CA  37.774929 -122.419415
40          San Jose,CA  37.338208 -121.886329
41         Santa Ana,CA  33.745472 -117.867653
42           Seattle,WA  47.606209 -122.332071
43          Stockton,CA  37.957702 -121.290780
44            Tacoma,WA  47.252877 -122.444291
45             Tampa,FL  27.950575  -82.457178
46             Tulsa,OK  36.153982  -95.992775
47           Wichita,KS  37.687176  -97.330053
48     Winston-Salem,NC  36.099860  -80.244216

In [96]:
#They spelled Cincinnati wrong...
city_coverage.loc[11, 'loc'] = 'Cincinnati,OH'

In [97]:
#Just make city and state columns
city_coverage['city'] = city_coverage['loc'].apply(lambda s: s.split(',')[0])
city_coverage['state'] = city_coverage['loc'].apply(lambda s: s.split(',')[1])
city_coverage[['city', 'state']]

                city state
0             Albany    NY
1            Anaheim    CA
2          Arlington    TX
3             Aurora    CO
4             Austin    TX
5        Bakersfield    CA
6          Baltimore    MD
7         Burlington    VT
8             Camden    NJ
9          Charlotte    NC
10           Chicago    IL
11        Cincinnati    OH
12          Columbus    OH
13            Denver    CO
14            Durham    NC
15      Fayetteville    NC
16        Fort Wayne    IN
17           Gilbert    AZ
18       Grand Forks    ND
19        Greensboro    NC
20          Hartford    CT
21           Houston    TX
22       Idaho Falls    ID
23       Little Rock    AR
24        Long Beach    CA
25           Madison    WI
26              Mesa    AZ
27         Nashville    TN
28       New Orleans    LA
29     Oklahoma City    OK
30         Owensboro    KY
31      Philadelphia    PA
32             Plano    TX
33           Raleigh    NC
34        Saint Paul    MN
35  Saint Petersburg    FL
36       San Antonio    TX
37    San Bernardino    CA
38         San Diego    CA
39     San Francisco    CA
40          San Jose    CA
41         Santa Ana    CA
42           Seattle    WA
43          Stockton    CA
44            Tacoma    WA
45             Tampa    FL
46             Tulsa    OK
47           Wichita    KS
48     Winston-Salem    NC

In [98]:
acs_2017 = pd.read_csv('data/acs_2017_5_year_city_level_race_data.csv', encoding = 'latin-1')
acs_2017.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,Estimate; Not Hispanic or Latino:,Margin of Error; Not Hispanic or Latino:,Estimate; Not Hispanic or Latino: - White alone,Margin of Error; Not Hispanic or Latino: - White alone,Estimate; Not Hispanic or Latino: - Black or African American alone,...,Estimate; Hispanic or Latino: - Native Hawaiian and Other Pacific Islander alone,Margin of Error; Hispanic or Latino: - Native Hawaiian and Other Pacific Islander alone,Estimate; Hispanic or Latino: - Some other race alone,Margin of Error; Hispanic or Latino: - Some other race alone,Estimate; Hispanic or Latino: - Two or more races:,Margin of Error; Hispanic or Latino: - Two or more races:,Estimate; Hispanic or Latino: - Two or more races: - Two races including Some other race,Margin of Error; Hispanic or Latino: - Two or more races: - Two races including Some other race,"Estimate; Hispanic or Latino: - Two or more races: - Two races excluding Some other race, and three or more races","Margin of Error; Hispanic or Latino: - Two or more races: - Two races excluding Some other race, and three or more races"
0,1600000US0100100,100100,"Abanda CDP, Alabama",174,158.0,174,158.0,150,160,24,...,0,11,0,11,0,11,0,11,0,11
1,1600000US0100124,100124,"Abbeville city, Alabama",2594,25.0,2477,115.0,1360,173,1083,...,0,11,14,35,0,11,0,11,0,11
2,1600000US0100460,100460,"Adamsville city, Alabama",4404,23.0,4397,25.0,2077,259,2284,...,0,11,7,12,0,11,0,11,0,11
3,1600000US0100484,100484,"Addison town, Alabama",725,202.0,725,202.0,685,199,0,...,0,11,0,11,0,11,0,11,0,11
4,1600000US0100676,100676,"Akron town, Alabama",318,125.0,318,125.0,70,45,248,...,0,11,0,11,0,11,0,11,0,11

In [99]:
# http://code.activestate.com/recipes/577305-python-dictionary-of-us-states-and-territories/

states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}


def find_in_ACS(loc):
    """
    Find the location in the ACS dataset.
    """
    loc = loc.replace('Saint', 'St.')
    loc_split = loc.split(',')
    city = loc_split[0]
    state = loc_split[1]
    state = states[state]
    obs_in_state = acs_2017[acs_2017['Geography'].str.contains(state)]
    obs_in_city =  obs_in_state[obs_in_state['Geography'].str.contains(city)]
    #There are still some obs like West, South. Get the one with shortest length
    return obs_in_city[obs_in_city['Geography'].str.len() == obs_in_city['Geography'].str.len().min()]

#Get the observations corresponding to the cities we have.
rows = []
for loc in list(city_coverage['loc']):
    rows.append(find_in_ACS(loc))
    
relevant_obs = pd.concat(rows).reset_index(drop = True)
relevant_obs.head()
assert len(relevant_obs) == len(city_coverage)

In [105]:
#making sure the cities match
for i in range(len(relevant_obs)):
    print(relevant_obs.iloc[i]['Geography'], city_coverage.iloc[i]['loc'])

Albany city, New York Albany,NY
Anaheim city, California Anaheim,CA
Arlington city, Texas Arlington,TX
Aurora city, Colorado Aurora,CO
Austin city, Texas Austin,TX
Bakersfield city, California Bakersfield,CA
Baltimore city, Maryland Baltimore,MD
Burlington city, Vermont Burlington,VT
Camden city, New Jersey Camden,NJ
Charlotte city, North Carolina Charlotte,NC
Chicago city, Illinois Chicago,IL
Cincinnati city, Ohio Cincinnati,OH
Columbus city, Ohio Columbus,OH
Denver city, Colorado Denver,CO
Durham city, North Carolina Durham,NC
Fayetteville city, North Carolina Fayetteville,NC
Fort Wayne city, Indiana Fort Wayne,IN
Gilbert town, Arizona Gilbert,AZ
Grand Forks city, North Dakota Grand Forks,ND
Greensboro city, North Carolina Greensboro,NC
Hartford city, Connecticut Hartford,CT
Houston city, Texas Houston,TX
Idaho Falls city, Idaho Idaho Falls,ID
Little Rock city, Arkansas Little Rock,AR
Long Beach city, California Long Beach,CA
Madison city, Wisconsin Madison,WI
Mesa city, Arizona Mesa,AZ
Nashville-Davidson metropolitan government (balance), Tennessee Nashville,TN
New Orleans city, Louisiana New Orleans,LA
Oklahoma City city, Oklahoma Oklahoma City,OK
Owensboro city, Kentucky Owensboro,KY
Philadelphia city, Pennsylvania Philadelphia,PA
Plano city, Texas Plano,TX
Raleigh city, North Carolina Raleigh,NC
St. Paul city, Minnesota Saint Paul,MN
St. Petersburg city, Florida Saint Petersburg,FL
San Antonio city, Texas San Antonio,TX
San Bernardino city, California San Bernardino,CA
San Diego city, California San Diego,CA
San Francisco city, California San Francisco,CA
San Jose city, California San Jose,CA
Santa Ana city, California Santa Ana,CA
Seattle city, Washington Seattle,WA
Stockton city, California Stockton,CA
Tacoma city, Washington Tacoma,WA
Tampa city, Florida Tampa,FL
Tulsa city, Oklahoma Tulsa,OK
Wichita city, Kansas Wichita,KS
Winston-Salem city, North Carolina Winston-Salem,NC

In [101]:
#get population numbers and merge
relevant_obs['white population'] = relevant_obs['Estimate; Not Hispanic or Latino: - White alone'] 
relevant_obs['black population'] = relevant_obs['Estimate; Not Hispanic or Latino: - Black or African American alone']
relevant_obs['asian/pacific islander population'] = relevant_obs['Estimate; Not Hispanic or Latino: - Asian alone'] +\
                                                    relevant_obs['Estimate; Not Hispanic or Latino: - Native Hawaiian and Other Pacific Islander alone']
relevant_obs['hispanic population'] = relevant_obs['Estimate; Hispanic or Latino:']
merged = city_coverage.merge(relevant_obs[['white population', 'black population', 'asian/pacific islander population', 
                                 'hispanic population']], left_index = True, right_index = True)

In [102]:
merged

,loc,lat,lng,city,state,white population,black population,asian/pacific islander population,hispanic population
0,"Albany,NY",42.652579,-73.756232,Albany,NY,49842,26819,7351,9612
1,"Anaheim,CA",33.836593,-117.914301,Anaheim,CA,87991,7843,57829,187931
2,"Arlington,TX",32.735687,-97.108066,Arlington,TX,155606,83045,26868,112283
3,"Aurora,CO",39.729432,-104.831919,Aurora,CO,162887,54510,22287,102317
4,"Austin,TX",30.267153,-97.743061,Austin,TX,445269,66724,63752,316709
5,"Bakersfield,CA",35.373292,-119.018713,Bakersfield,CA,125649,26557,27231,183427
6,"Baltimore,MD",39.290385,-76.612189,Baltimore,MD,170916,385831,16081,30729
7,"Burlington,VT",44.475883,-73.212072,Burlington,VT,35112,2324,2663,1214
8,"Camden,NJ",39.925946,-75.119620,Camden,NJ,4471,30980,2331,36629
9,"Charlotte,NC",35.227087,-80.843127,Charlotte,NC,348789,285294,51713,115379
10,"Chicago,IL",41.878114,-87.629798,Chicago,IL,890322,820180,168017,789713
11,"Cincinnati,OH",39.103118,-84.512020,Cincinnati,OH,144219,127334,6209,10821
12,"Columbus,OH",39.961176,-82.998794,Columbus,OH,484096,237522,44685,50707
13,"Denver,CO",39.739236,-104.990251,Denver,CO,363712,62166,24660,207100
14,"Durham,NC",35.994033,-78.898619,Durham,NC,99726,100587,13336,35919
15,"Fayetteville,NC",35.052664,-78.878358,Fayetteville,NC,82299,84714,6380,25187
16,"Fort Wayne,IN",41.079273,-85.139351,Fort Wayne,IN,179213,38699,11362,22869
17,"Gilbert,AZ",33.352826,-111.789027,Gilbert,AZ,164725,6719,14190,37905
18,"Grand Forks,ND",47.925257,-97.032855,Grand Forks,ND,47515,2054,1732,2008
19,"Greensboro,NC",36.072635,-79.791975,Greensboro,NC,125177,117957,12808,20654
20,"Hartford,CT",41.765804,-72.673372,Hartford,CT,18404,43870,3639,55086
21,"Houston,TX",29.760427,-95.369803,Houston,TX,564663,507466,151268,1008249
22,"Idaho Falls,ID",43.492661,-112.040758,Idaho Falls,ID,48276,328,790,8682
23,"Little Rock,AR",34.746481,-92.289595,Little Rock,AR,91432,81912,6086,13382
24,"Long Beach,CA",33.770050,-118.193740,Long Beach,CA,129957,58260,65319,201523
25,"Madison,WI",43.073052,-89.401230,Madison,WI,185297,16024,21821,17473
26,"Mesa,AZ",33.415184,-111.831472,Mesa,AZ,300206,16779,11088,131448
27,"Nashville,TN",36.162664,-86.781602,Nashville,TN,363838,180916,23990,67765
28,"New Orleans,LA",29.951066,-90.071532,New Orleans,LA,118660,229389,11519,21448
29,"Oklahoma City,OK",35.467560,-97.516428,Oklahoma City,OK,340999,90054,28391,120183
30,"Owensboro,KY",37.771907,-87.111168,Owensboro,KY,49581,3910,1043,2192
31,"Philadelphia,PA",39.952584,-75.165222,Philadelphia,PA,548312,648846,110864,221777
32,"Plano,TX",33.019843,-96.698886,Plano,TX,154625,22930,54591,40907
33,"Raleigh,NC",35.779590,-78.638179,Raleigh,NC,240400,127049,20726,49226
34,"Saint Paul,MN",44.953703,-93.089958,Saint Paul,MN,156681,46559,53948,29207
35,"Saint Petersburg,FL",27.767601,-82.640291,Saint Petersburg,FL,161439,57914,8564,19555
36,"San Antonio,TX",29.424122,-98.493628,San Antonio,TX,366363,95102,40092,935458
37,"San Bernardino,CA",34.108345,-117.289765,San Bernardino,CA,32877,28442,9348,138349
38,"San Diego,CA",32.715738,-117.161084,San Diego,CA,599633,84367,234807,417128
39,"San Francisco,CA",37.774929,-122.419415,San Francisco,CA,353000,43961,295619,131949
40,"San Jose,CA",37.338208,-121.886329,San Jose,CA,271027,29147,356846,330827
41,"Santa Ana,CA",33.745472,-117.867653,Santa Ana,CA,31499,2716,38872,258449
42,"Seattle,WA",47.606209,-122.332071,Seattle,WA,449138,47961,101477,44505
43,"Stockton,CA",37.957702,-121.290780,Stockton,CA,64568,33699,66610,128451
44,"Tacoma,WA",47.252877,-122.444291,Tacoma,WA,124898,20082,20614,24021
45,"Tampa,FL",27.950575,-82.457178,Tampa,FL,165660,84061,15596,92494
46,"Tulsa,OK",36.153982,-95.992775,Tulsa,OK,220273,59926,13424,63466
47,"Wichita,KS",37.687176,-97.330053,Wichita,KS,245499,42485,19353,65090
48,"Winston-Salem,NC",36.099860,-80.244216,Winston-Salem,NC,110217,82468,5575,35706

In [106]:
merged.to_csv('data/city_attributes.csv', index = False)